#search-box{
	width:80%;
}

.card{
	background-color:white;
	box-shadow: 0px 0px 2px gray;
	-webkit-transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	margin-bottom: 5px;
}

.card:hover{
	box-shadow: 0px 0px 10px gray;
}

.red{
	background-color: red;
	margin-top:0px;
	margin-bottom: 5px;
	padding:5px;
}